.about {
    width: 70%;
    margin: 100px auto;
}

.image {
    height: 300px;
    width: 300px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.icon {
    background-color: #12283d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 10px 15px;
    gap: 5px;
}

@media screen and (max-width: 500px) {
    .desk {
        display: none;
    }
    .about {
        width: 90%;
    }
    .mobile {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 501px) and (max-width: 900px){
    .about {
        width: 90%;
    }
    .mobile {
        flex-direction: column;
    }
    .desk {
        display: none;
    }
}
