.project {
    width: 70%;
    margin: 0 auto;
}

button {
    background: #12283d;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 100;
    width: 100px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(0deg);
    color: white;
}

span {
    display: inline-block;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: white;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

button:hover {
    color: #12283d;
}

button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}