.contact {
    width: 70%;
    margin: 100px auto;
}

.contact-content a {
    text-decoration: none;
}

.contact-content a:hover {
    text-decoration-line: underline;
}

@media (min-width: 501px) and (max-width: 900px){
    .contact {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        width: 90%;
    }
}

@media (min-width: 901px) and (max-width: 1010px) {
    .contact {
        width: 80%;
    }
}